{% extends "core/base.html" %}

{% block title %}Moje Safety Walk{% endblock %}

{% block content %}
  <div class="card">
    <h1 class="h1">Moje Safety Walk</h1>

    <p>
      <a class="btn btn--primary" href="{% url 'safetywalk_create' %}">+ Nowy Safety Walk</a>
    </p>

    <ul>
      {% for sw in safetywalks %}
        <li style="margin:10px 0;">
          <a href="{% url 'safetywalk_detail' sw.pk %}">
            {{ sw.date|date:"M d, Y" }} | {{ sw.shift }} | {{ sw.area }} | {{ sw.number }}
          </a>
        </li>
      {% empty %}
        <li class="p">Brak wpisow.</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
