{% extends "core/base.html" %}
{% load static %}
{% block title %}Nowy Safety Walk{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/main_form.css' %}">
{% endblock %}
{% block content %}

  <div class="card">
    <div class="pagehead">
      <h1 class="h1">Nowy Safety Walk</h1>
      <a class="btn" href="{% url 'safetywalk_list' %}">Powrót do listy</a>
    </div>

    <form method="post" id="safetywalkForm" class="form">
      {% csrf_token %}

      <section class="section">
        <div class="section__head">
          <h2 class="h2">Dane Safety Walk</h2>
        </div>
        <div class="section__body">
          {{ form.as_p }}
        </div>
      </section>

      <section class="section">
        <div class="section__head">
          <h2 class="h2">Obserwacja</h2>
        </div>

        <div class="obs-grid">
  <div class="field">
  <div class="label">Typ obserwacji *</div>

  <div class="checkrow" id="obsTypeGroup">
    <label class="checkpill">
      {{ obs_form.ppe }} <span>PPE</span>
    </label>
    <label class="checkpill">
      {{ obs_form.work }} <span>Work</span>
    </label>
    <label class="checkpill">
      {{ obs_form.environment }} <span>Environment</span>
    </label>
  </div>
</div>

  <div class="field">
    <label class="label" for="{{ obs_form.reaction.id_for_label }}">Reaction *</label>
    {{ obs_form.reaction }}
  </div>

  <div class="field obs-comment">
    <label class="label" for="{{ obs_form.comment.id_for_label }}">Comment *</label>
    {{ obs_form.comment }}
  </div>
</div>
      </section>

      <div class="actions">
        <button type="submit" class="btn btn--primary">Zapisz</button>
      </div>
    </form>
  </div>
<script src="{% static 'core/js/safetywalk_form.js' %}"></script>
{% endblock %}

