{% extends "core/base.html" %}

{% block title %}Logowanie{% endblock %}

{% block content %}
<div class="card" style="max-width:520px;margin:0 auto;">
  <h1 class="h1">Logowanie</h1>
  <p class="p">Zaloguj się, aby przejść do aplikacji.</p>

  <form method="post" class="form" novalidate>
    {% csrf_token %}

    <div class="field">
      {{ form.username.label_tag }}
      {{ form.username }}
    </div>

    <div class="field">
      {{ form.password.label_tag }}
      {{ form.password }}
    </div>

    <div class="actions">
      <button class="btn btn--primary" type="submit">Zaloguj</button>
    </div>
  </form>
</div>
{% endblock %}
